.event {
    font-family: var(--fira-font);

    .event__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        .date {
            width: 66px;
            height: 66px;
            border: 1px solid var(--white);
            border-radius: 0.25rem;
            color: var(--white);
            display: grid;
            place-content: center;

            .date__day {
                font-size: 14px;
                font-weight: 700;
                text-align: center;

                .date__month {
                    display: block;
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
        }

        .event__info {
            border-bottom: 1px solid var(--30-white);
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.25rem;

            .event__title {
                font-size: 22px;
                font-weight: 600;
                grid-column: auto / span 2;
            }
            .event__venue {
                font-size: 12px;
                color: var(--80-white);
                grid-column: auto / span 2;
            }

            .event__time {
                font-size: 14px;
                font-weight: 600;
                color: var(--gray);
            }
            .event__price {
                font-size: 17px;
                font-weight: 700;
                color: var(--turqouise);
                place-self: flex-end;
            }
        }
    }
}
